{
  "title": "US Election Winner 2024",
  "timeline_data": [
    {
      "time": "01:00",
      "name": "Trump",
      "prob": 0.50,
      "is_flip": false
    },
    {
      "time": "15:00",
      "name": "Trump",
      "prob": 0.55,  // <--- 不同时间，结果变了
      "is_flip": false
    },
    {
      "time": "23:00",
      "name": "Harris",
      "prob": 0.51,  // <--- 不同时间，连赢家都变了
      "is_flip": true
    }
  ]
}
